.templatePicker {
    height:120px !important;
    overflow:hidden !important;
}
.attributeInspectorSaveButton {
    float:right;
}
.attributeInspectorEditButton {
    float:right;
}
#catchmentAreaAttributeInspectorDiv {
    margin-bottom: 30px;
}
.jimu-widget-kauflandworkflow {
    width:100%;
    height:100%;
}


.kauflandContainer {
    background: #efefef;
    padding: 5px;
    margin: 2px 0px 10px 0px;
}
#loadingIndicatorContainer {
    position:absolute;
    width:100%;
    height:100%;
    z-index: 100;
    visibility: hidden;
}
#loadingIndicator {
    position: absolute;
    width: 78px;
    height: 78px;
    left: 50%;
    top: 50%;
    margin-left: -39px;
    margin-top: -32px;
    background-color: #f4f4f4;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#loadingImage {
    margin:6px;
}